@font-face {
  font-family: 'Montserrat-Regular';
  src: url('Montserrat-Regular.ttf') format('truetype'); /* Safari, Android, iOS */
}
@font-face {
  font-family: 'Montserrat-Medium';
  src: url('Montserrat-Medium.ttf') format('truetype'); /* Safari, Android, iOS */
}
